@page "/home"
@inject ThemeService ThemeService
@inject ILoggerService LoggerService
@inject IAuthService AuthService
@inject IJournalService JournalService
@inject IMoodService MoodService
@inject ITagService TagService
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject ToastService Toast

<div class="home-container">
    @if (IsSaveModalOpen)
    {
        <SaveJournalModal
            IsOpen="IsSaveModalOpen"
            IsOpenChanged="SetIsSaveModelOpen"
            OnSave="SubmitJournal"
            Moods="Moods"
            Tags="Tags"
            TodayJournal="todaysJournal"
            OnTagAdded="HandleNewTag"
        />
    }

    <ConfirmModal 
        IsOpen="IsDeleteModalOpen"
        Variant="ModalVariant.Danger" 
        Title="Delete Journal"
        Message="Are you sure you want to delete today’s entry?"
        ExtraText="Deleting this journal entry will remove today’s journal entry and also remove today’s streak." 
        ConfirmText="Delete"
        CloseOnOverlayClick="true"
        OnConfirm="HandleDeleteJournal"
        OnCancel="() => SetIsDeleteModalOpen(false)"
        OnClose="() => SetIsDeleteModalOpen(false)"
    />

    <PageHeader
        PageTitle="Home"
        CurrentStreak="@(currentUser?.CurrentStreak ?? 0)"
        FullName="@(currentUser?.FullName ?? string.Empty)" 
    />

    <div class="home-content">
        <div class="journal-section">
            <div class="app-branding">
                <img src=@($"assets/app_logos/logo-{currentAccent}.svg") alt="Entry IT" class="app-logo" />
                <h2 class="app-name">Entry IT</h2>
            </div>

            <div class="journal-entry">
                <div class="journal-header">
                    <h3 class="journal-title">Today's Journal</h3>
                    
                    @if(todaysJournal != null)
                    {
                        <div class="today-mood">
                            @($"Primary Mood: {primaryMoodToday?.Emoji}")
                        </div>

                        if(secondaryMood1Today != null || secondaryMood2Today != null)
                        {
                            <div class="today-mood">
                                @($"Secondary Moods: " +
                                    (
                                        secondaryMood1Today != null && secondaryMood2Today != null
                                        ? $"{secondaryMood1Today.Emoji},{secondaryMood2Today.Emoji}"
                                        : secondaryMood1Today != null
                                        ? $"{secondaryMood1Today.Emoji}"
                                        : secondaryMood2Today != null
                                        ? $"{secondaryMood2Today.Emoji}"
                                        : ""
                                    )
                                )
                            </div>
                        }
                    }
                </div>
                <div class="journal-input-wrapper">
                    <div id="editor"
                         style="height:200px;">
                    </div>
                    <div style="display: flex; gap: 8px; align-self: flex-end;">
                        <Button
                            Icon="trash"
                            Variant="ButtonVariant.Danger"
                            OnClick="() => SetIsDeleteModalOpen(!IsDeleteModalOpen)"
                            Disabled="@(todaysJournal == null)"
                            Title="Delete"
                            InvertIcon="true"
                            Style="width: 2.5rem; height: 2.5rem; border-radius: 50%;"
                            IconSize="1.25rem"
                            ZoomEffect="true"
                            Shadow="true" 
                        />
                        <Button
                            Icon="upload"
                            Variant="ButtonVariant.PrimaryGradient"
                            OnClick="() => SetIsSaveModelOpen(!IsSaveModalOpen)"
                            Disabled="@IsSaveDisabled()" 
                            Title="Submit"
                            InvertIcon="true"
                            Style="width: 2.5rem; height: 2.5rem; border-radius: 50%; align-self: flex-end;"
                            IconSize="1.25rem"
                            ZoomEffect="true"
                            Shadow="true"
                        />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@code {
    private string currentAccent = string.Empty;
    private string HtmlContent = "";
    private string TextContent = "";
    private int WordCount = 0;
    private bool IsSaveModalOpen = false;
    private bool IsDeleteModalOpen = false;
    public List<Mood> Moods = [];
    public List<Tag> Tags = [];
    private UserViewModel? currentUser = null;
    private JournalViewModel? todaysJournal = null;
    private Mood? primaryMoodToday;
    private Mood? secondaryMood1Today;
    private Mood? secondaryMood2Today;
    private DotNetObjectReference<Home>? _objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initQuill", "editor");
            await JS.InvokeVoidAsync("quillInterop.registerOnChange", _objRef);

            // Set today's journal content
            if(todaysJournal != null)
            {
                LoggerService.LogInfo("Updating editor with today's content");
                await JS.InvokeVoidAsync("setQuillHtml", todaysJournal.Content);
            }

            var uri = new Uri(Nav.Uri);
        }
    }

    [JSInvokable]
    public async Task OnEditorChanged()
    {
        try
        {
            HtmlContent = await JS.InvokeAsync<string>("getQuillHtml");
            TextContent = (await JS.InvokeAsync<string>("getQuillText")).Trim();
            StateHasChanged();
        }
        catch (JSException ex)
        {
            LoggerService.LogError($"Quill JS error: {ex.Message}");
        }
    }

    public bool IsSaveDisabled()
    {
        return (HtmlContent == todaysJournal?.Content) || string.IsNullOrWhiteSpace(TextContent);
    }

    public void SetIsSaveModelOpen(bool value)
    {
        IsSaveModalOpen = value;
        LoggerService.LogInfo($"Save model state: {IsSaveModalOpen}");
    }

    public void SetIsDeleteModalOpen(bool value)
    {
        IsDeleteModalOpen = value;
    }

    private async Task HandleDeleteJournal()
    {
        try
        {
            if (todaysJournal == null || currentUser == null)
            {
                Toast.Error("Failed to delete journal: User not authenticated.");
                return;
            }

            Toast.Info("Deleting journal...");
            var deleteResponse = await JournalService.DeleteJournal();
            if (deleteResponse.Success)
            {
                Toast.Success("Successfully Deleted Today's Entry");
                await AuthService.RefreshUser();
                await GetTodaysJournal();
            }
            else
            {
                Toast.Error(deleteResponse.ErrorMessage ?? "Failed to delete journal");
            }
        }
        catch(Exception ex)
        {
            LoggerService.LogError($"Failed to delete journal: {ex.Message}");
            Toast.Error("An error occurred while deleting journal");
        }
        finally
        {
            // Close the modal
            IsDeleteModalOpen = false;
        }
    }

    private async Task SubmitJournal(JournalDataFromModal journalData)
    {
        Toast.Info("Saving Journal...");

        WordCount = CommonUtils.GetWordCount(TextContent);
        List<Tag> tags = journalData.Tags;
        List<Guid> tagIDs = tags.Select(t => t.Id).ToList();
        var secondary1 = journalData.SecondaryMoods.ElementAtOrDefault(0)?.Id ?? Guid.Empty;
        var secondary2 = journalData.SecondaryMoods.ElementAtOrDefault(1)?.Id ?? Guid.Empty;


        ServiceResult<SaveResponse> saveResponse = await JournalService.SaveJournal(
            journalData.Title,
            HtmlContent,
            TextContent,
            WordCount,
            journalData.PrimaryMood?.Id ?? Guid.Empty,
            secondary1,
            secondary2,
            journalData.IsLocked,
            journalData.UseSamePassword,
            journalData.Password ?? "",
            tagIDs
        );

        if (saveResponse.Success)
        {
            Toast.Success("Successfully saved journal");
            await AuthService.RefreshUser();
            await GetTodaysJournal();
        }
        else
        {
            Toast.Error(saveResponse.ErrorMessage ?? "Failed to save journal");
        }
    }

    private async Task GetTodaysJournal()
    {
        LoggerService.LogInfo("Getting today's journal");
        Guid userId = currentUser?.Id ?? Guid.Empty;
        var todaysJournalFetch = await JournalService.GetJournal(true, userId, Guid.Empty);
        if (todaysJournalFetch.Success)
        {
            LoggerService.LogInfo("Successfully received today's journal");
            todaysJournal = todaysJournalFetch.Data;
            LoggerService.LogInfo($"Content: {todaysJournal?.Content}");

            primaryMoodToday = Moods.FirstOrDefault(m => m.Id == todaysJournal?.PrimaryMood);
            secondaryMood1Today = Moods.FirstOrDefault(m => m.Id == todaysJournal?.SecondaryMood1);
            secondaryMood2Today = Moods.FirstOrDefault(m => m.Id == todaysJournal?.SecondaryMood2);
        } 
        else
        {
            // Reset fields if no journal for today
            todaysJournal = null;
            primaryMoodToday = null;
            secondaryMood1Today = null;
            secondaryMood2Today = null;
            HtmlContent = string.Empty;
            TextContent = string.Empty;

            await JS.InvokeVoidAsync("setQuillHtml", string.Empty);
        }
    }

    protected async override Task OnInitializedAsync()
    {
        currentUser = AuthService.GetCurrentUser();

        var moodResult = await MoodService.GetMoods();
        if (moodResult.Success)
        {
            Moods = moodResult.Data ?? [];
        }

        var tagsResult = await TagService.GetTags();
        if (tagsResult.Success)
        {
            Tags = tagsResult.Data ?? [];
        }

        await GetTodaysJournal();

        currentAccent = ThemeService.GetCurrentAccent();
        ThemeService.OnChange += HandleThemeChanged;
        AuthService.OnChange += HandleAuthServiceChanged;
    }

    private void HandleThemeChanged()
    {
        currentAccent = ThemeService.GetCurrentAccent();
        StateHasChanged();
    }

    private void HandleAuthServiceChanged()
    {
        LoggerService.LogInfo("Auth service updated. Setting new user");
        currentUser = AuthService.GetCurrentUser();
        StateHasChanged();
    }

    private void HandleNewTag(Tag newTag)
    {
        if (!Tags.Any(t => t.Id == newTag.Id))
        {
            Tags.Add(newTag);
        }
    }

    public void Dispose()
    {
        _objRef?.Dispose();
        ThemeService.OnChange -= HandleThemeChanged;
        AuthService.OnChange -= HandleAuthServiceChanged;
    }
}
