@inject ToastService Toast

<div class="save-journal-overlay" @onclick="HandleOverlayClick">
    <div class="save-container bg-dialog" @onclick:stopPropagation>
        <h2 class="text-primary">Save Journal</h2>
        <form @onsubmit="HandleSubmit" @onsubmit:preventDefault class="save-form">
            <div class="form-field">
                <label for="title" class="save-form-title">Journal Title</label>
                <input type="text" id="title" name="title" class="form-field-input" @bind="title" @bind:event="oninput" />
            </div>

            <div class="mood-containers">
                <div class="mood-field">
                    <label class="save-form-title">Primary Mood</label>
                    <div class="primary-mood">
                        @* <select @bind="primaryMood" class="mood-select">
                            @foreach (var mood in primaryMoods)
                            {
                                <option value="@mood.Value">@mood.Emoji @mood.Value</option>
                            }
                        </select> *@
                        <MoodSelector
                           Moods="Moods"
                           MoodType="primary"
                           SelectedMood="primaryMood"
                           OnMoodSelected="SetMood"
                        />
                    </div>
                </div>

                <div class="mood-field">
                    <label class="save-form-title">Secondary Moods</label>
                    <div class="secondary-moods">
                        <MoodSelector 
                            Moods="Moods"
                            MoodType="secondary1"
                            SelectedMood="secondaryMood1"
                            OnMoodSelected="SetMood" 
                        />
                        <MoodSelector 
                            Moods="Moods"
                            MoodType="secondary2"
                            SelectedMood="secondaryMood2"
                            OnMoodSelected="SetMood" 
                        />
                    </div>
                </div>
            </div>

            <div class="form-field">
                <label class="save-form-title">Tags</label>
                <div class="save-form-tags">
                    <div class="save-form-selected-tags">
                        @foreach (var tag in selectedTags)
                        {
                            <button type="button" class="tag-chip selected-tab" @onclick="() => RemoveTag(tag)">
                                @tag.Name
                                <span class="tag-remove">×</span>
                            </button>
                        }
                    </div>
                    <button type="button" class="add-new-tags bg-primary" @onclick="OpenTagSelector">
                        <span class="plus-icon">+</span>
                    </button>
                </div>
            </div>

            @if (showTagSelector)
            {
                <TagSelector
                    Tags="Tags"
                    SelectedTags="selectedTags"
                    OnTagsSelected="HandleTagsSelected"
                    OnClose="CloseTagSelector"
                    OnCustomTagAdded="HandleCustomTagAdded"
                />
            }

            <div class="lock-section">
                <div class="lock-switch">
                    <span>Lock Journal</span>
                    <label class="toggle-switch">
                        <input type="checkbox" @bind="isLocked" />
                        <span class="slider"></span>
                    </label>
                </div>

                @if (isLocked)
                {
                    <div class="form-field">
                        <label for="password" class="save-form-title">Journal Password</label>
                        <input 
                            type="password"
                            id="password"
                            name="password"
                            @bind="password"
                            @bind:event="oninput"
                            class="form-field-input"
                            placeholder="@(sameAsUserPassword ? "": "Enter password")"
                            disabled="@sameAsUserPassword"
                        />
                        <div class="checkbox-field">
                            <input type="checkbox"
                                   id="sameAsUser"
                                   @bind="sameAsUserPassword" />
                            <label for="sameAsUser">Default journal password</label>
                        </div>
                    </div>
                }
            </div>

            <button type="submit" class="btn-save bg-primary">Save Journal</button>
        </form>
    </div>
</div>

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }
    [Parameter] public EventCallback<JournalDataFromModal> OnSave { get; set; }
    [Parameter] public List<Mood> Moods { get; set; } = [];
    [Parameter] public List<Tag> Tags { get; set; } = [];
    [Parameter] public JournalViewModel? TodayJournal { get; set; } = null;
    [Parameter] public EventCallback<Tag> OnTagAdded { get; set; }

    private string title = string.Empty;
    private Mood? primaryMood = null;
    private Mood? secondaryMood1 = null;
    private Mood? secondaryMood2 = null;
    private List<Tag> selectedTags = [];
    private bool showTagSelector = false;
    private string newTag = string.Empty;
    private bool showTagInput = false;
    private bool isLocked = false;
    private string _password = string.Empty;
    private bool sameAsUserPassword = true;

    private string password
    {
        get => sameAsUserPassword ? "" : _password;
        set
        {
            if (!sameAsUserPassword)
            {
                _password = value;
            }
        }
    }

    protected override void OnParametersSet()
    {
        if (TodayJournal != null)
        {
            title = TodayJournal.Title;
            primaryMood = Moods.FirstOrDefault(m => m.Id == TodayJournal.PrimaryMood);
            secondaryMood1 = Moods.FirstOrDefault(m => m.Id == TodayJournal.SecondaryMood1);
            secondaryMood2 = Moods.FirstOrDefault(m => m.Id == TodayJournal.SecondaryMood2);
            selectedTags = TodayJournal.SelectedTags;
            isLocked = TodayJournal.IsLocked;
        }
        else
        {
            // Setting primaryMood to first mood if available and not already set
            if (Moods.Any() && primaryMood == null)
            {
                primaryMood = Moods.First();
            }
        }
    }

    private void HandleOverlayClick()
    {
        IsOpenChanged.InvokeAsync(false);
    }

    private void ShowAlreadySelectedToast()
    {
        Toast.Error("This mood is already selected.");
    }

    private void OpenTagSelector()
    {
        showTagSelector = true;
    }

    private void CloseTagSelector()
    {
        showTagSelector = false;
    }

    private void HandleTagsSelected(List<Tag> tags)
    {
        selectedTags = tags;
        showTagSelector = false;
    }

    private void RemoveTag(Tag tag)
    {
        selectedTags.Remove(tag);
    }

    private async Task HandleCustomTagAdded(Tag newTag)
    {
        Tags.Add(newTag);
        await OnTagAdded.InvokeAsync(newTag);
    }

    private bool IsAlreadySelected(Mood? mood, string exclude)
    {
        if (mood is null) return false;

        return (exclude != "primary" && mood.Id == primaryMood?.Id) ||
               (exclude != "secondary1" && mood.Id == secondaryMood1?.Id) ||
               (exclude != "secondary2" && mood.Id == secondaryMood2?.Id);
    }

    private void SetMood(MoodSelect moodSelect)
    {
        var type = moodSelect.Type.ToLower();
        switch (moodSelect.Type.ToLower())
        {
            // Only allow selection if mood hasn't been selected by other moods
            case "primary":
                if(IsAlreadySelected(moodSelect.Mood, "primary"))
                {
                    ShowAlreadySelectedToast();
                }
                else
                {    
                    primaryMood = moodSelect.Mood;
                }
                break;
            case "secondary1":
                if (IsAlreadySelected(moodSelect.Mood, "secondary1"))
                {
                    ShowAlreadySelectedToast();
                }
                else
                {
                    secondaryMood1 = moodSelect.Mood;
                }
                break;
            case "secondary2":
                if (IsAlreadySelected(moodSelect.Mood, "secondary2"))
                {
                    ShowAlreadySelectedToast();
                }
                else
                {
                    secondaryMood2 = moodSelect.Mood;
                }
                break;
            default:
                throw new ArgumentException($"Invalid mood type: {moodSelect.Type}. Must be 'primary', 'secondary1', or 'secondary2'.");
        }
    }

    private void ToggleTagInput()
    {
        showTagInput = !showTagInput;
        if (showTagInput)
        {
            newTag = string.Empty;
        }
    }

    private async Task HandleSubmit()
    {
        var journalData = new JournalDataFromModal
        {
            Title = title,
            PrimaryMood = primaryMood,
            SecondaryMoods = new List<Mood?>
            {
                secondaryMood1,
                secondaryMood2
            }.Where(m => m != null).ToList(),
            Tags = selectedTags,
            IsLocked = isLocked,
            Password = isLocked ? (sameAsUserPassword ? null : password) : null,
            UseSamePassword = sameAsUserPassword
        };

        await OnSave.InvokeAsync(journalData);
        await IsOpenChanged.InvokeAsync(false);
    }

    private record MoodOption(string Emoji, string Value);
}
